<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/registro_completado.css}"></link>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Registro completado</div>
          <form action="#">
            <div class="input-boxes">
                <i id="arrow" class="fas fa-level-down-alt"></i>
              <div class="button input-box">
                <a th:href="@{/login}" style="width: 700px; height: 50px;"><input type="button" value="Click aqui para ingresar"></a>
              </div>
            </div>
        </form>
      </div>
       </div> 
    </div>
  </div>
</body>
</html>